@{
    ViewData["Title"] = "Internal Server Error";
}

<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Internal Server Error</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Error
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>


<section class="mb-4 listingCreate">

    <h1>Error: 500 (Internal Server Error)</h1>
    <h2>There was an unexpected error with the server!</h2>




</section>