################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GBC_Travel-Group-32/.vs/GBC_Travel-Group-32
