@model User
@{

    ViewData["Title"] = "Register";

}

<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>User Login</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Login
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>

<section class="contact-us section bg-gray" id="contact" style="display: flex; justify-content: center">
<form asp-controller="User" asp-action="Register" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div>
        <label asp-for="UserName" class="control-label"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
   

    <div class="form-group center mt-10" style="justify-content:space-around">
        <input type="submit" value="Register" class="btn btn-primary" />
        <a asp-action="Login" class="btn btn-warning">Cancel</a>
    </div>


</form>
    <section class="contact-us section bg-gray" id="contact" style="display: flex; justify-content: center">
