@model Hotel

@{
    ViewData["Title"] = "Edit Hotel Listing";

    
}


<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Edit Hotel Listing</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Listing" asp-action="Index">Travel Listings</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Listing
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>

<section class="contact-us section bg-gray" id="contact" style="display: flex; flex-direction: column; align-items: center">
    <form asp-action="EditHotel" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
   

    <input type="hidden" asp-for="ListingId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Available" />
    <input type="hidden" asp-for="ImageUrl" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" required/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="number" min="0" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

        <div class="form-group m-5">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control-file" id="Image" accept=".jpg, .jpeg, .png" />
        </div>


        <div>
            <label asp-for="StartPeriod" class="control-label">Start Period</label>
            <input asp-for="StartPeriod" class="form-control" type="date" />
        </div>

        <div>
            <label asp-for="EndPeriod" class="control-label">End Period</label>
            <input asp-for="EndPeriod" class="form-control" type="date" />
        </div>

        <div>
            <label asp-for="Rooms" class="control-label">Number of Rooms</label>
            <input asp-for="Rooms" class="form-control" type="number" min="1" />
        </div>

    

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>


</form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}