@model Flight

@{
    ViewData["Title"] = "Edit Flight Listing";
}


<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Edit FlightListing</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Listing" asp-action="Index">Travel Listings</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Create Listing
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>

<section class="contact-us section bg-gray" id="contact" style="display: flex; flex-direction: column; align-items: center">
    <form asp-action="EditFlight" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
  

    <input type="hidden" asp-for="ListingId" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="Available" />
    <input type="hidden" asp-for="ImageUrl" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>


        <div class="form-group m-5">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control-file" id="Image" accept=".jpg, .jpeg, .png" />
        </div>

    
     <div>
          <label asp-for="FlightDate" class="control-label">Flight Date</label>
          <input asp-for="FlightDate" class="form-control" type="datetime-local" />
    </div>

        <div>
            <label asp-for="MaxPassengers" class="control-label">Maximum Passengers</label>
            <input asp-for="MaxPassengers" class="control-label" />
        </div>

        <div>
            <label asp-for="Location" class="control-label">Departure</label>
            <input asp-for="Location" class="form-control" />
        </div>

        <div>
            <label asp-for="Destination" class="control-label">Destination</label>
            <input asp-for="Destination" class="form-control" />
        </div>
    


    

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index"  class="btn btn-secondary">Back to List</a>
    </div>


</form>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}