

@{
    ViewData["Title"] = "Search";
}

<section class="single-page-header">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Search Listings</h2>

                <nav aria-label="breadcrumb mx-auto" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Listing" asp-action="Index">Travel Listings</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Listing Search
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>

</section>

<section class="about-2 section bg-gray center" id="about">
    <div class="contact-form col-md-6 searchBar">
<form  id="searchForm" method="get">
    <div class="form-group">
        
        <input type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Search">
    </div>

   
    <div class="form-group mt-10" id="selectedFilter">
        <label><input type="checkbox" id="available"/>Available</label>
        <label><input type="checkbox" id="unavailable"/>Unavailable</label>
        <label><input type="checkbox" id="flightDate"/>FlightDate</label>
        <label><input type="checkbox" id="location"/>Location</label>
        <label><input type="checkbox" id="destination"/>Destination</label>
        <label><input type="checkbox" id="model"/>Model</label>
        <label><input type="checkbox" id="manufacturer"/>Manufacturer</label>
        <label><input type="checkbox" id="minPrice"/>Minimum Price</label>
        <label><input type="checkbox" id="maxPrice"/>Maximum Price</label>
    </div>
    <div class="center mt-10">
    <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

</div>




</section>


<div id="searchResults">
    <!-- search results loaded here -->

    


</div>

        @section Scripts {
            <script src="~/js/searchResults.js"></script>
        
        }